[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE/
	branch = master
[submodule "modules/friz"]
	path = modules/friz
	url = https://github.com/ZL-Audio/animator
	branch = fix-warnings
[submodule "libs/clap-juce-extensions"]
	path = libs/clap-juce-extensions
	url = https://github.com/free-audio/clap-juce-extensions.git
	branch = main
