[submodule "JUCE"]
	path = JUCE
	url = https://github.com/ZL-Audio/JUCE
	branch = master
[submodule "nlopt"]
	path = nlopt
	url = https://github.com/ZL-Audio/nlopt
	branch = master
[submodule "highway"]
	path = highway
	url = https://github.com/ZL-Audio/highway
[submodule "source/dsp/fft/zldsp_fft"]
	path = source/dsp/fft/zldsp_fft
	url = https://github.com/ZL-Audio/zldsp_fft
