name: macOS/Windows/Linux Test

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main]
  workflow_dispatch:

# When pushing new commits, cancel any running builds on that branch
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  BUILD_TYPE: Release
  BUILD_DIR: Builds
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  DISPLAY: :0 # linux pluginval needs this
  HOMEBREW_NO_INSTALL_CLEANUP: 1
  SCCACHE_GHA_ENABLED: true
  SCCACHE_CACHE_MULTIARCH: 1

# jobs are run in paralell on different machines
# all steps run in series
jobs:
  build_and_test:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false # show all errors for each platform (vs. cancel jobs on error)
      matrix:
        include:
          - name: Linux
            os: ubuntu-22.04
            pluginval-binary: ./pluginval
            cmake_extra_flags: -DCMAKE_C_COMPILER=clang-21 -DCMAKE_CXX_COMPILER=clang++-21 -DKFR_ENABLE_MULTIARCH=OFF -DZL_JUCE_FORMATS="VST3" -DZL_EQ_BAND_NUM=8
          - name: macOS
            os: macos-latest
            pluginval-binary: pluginval.app/Contents/MacOS/pluginval
            cmake_extra_flags: -DZL_JUCE_FORMATS="AU" -DKFR_ENABLE_MULTIARCH=OFF -DZL_EQ_BAND_NUM=8
          - name: Windows
            os: windows-latest
            wix_arch: x64
            vcvars64_path: '"C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"'
            pluginval-binary: ./pluginval.exe
            cmake_extra_flags: -DCMAKE_C_COMPILER=clang-cl -DCMAKE_CXX_COMPILER=clang-cl -DKFR_ENABLE_MULTIARCH=OFF -DZL_JUCE_FORMATS="VST3" -DZL_EQ_BAND_NUM=8

    steps:
      - name: Set up Clang (Linux)
        if: runner.os == 'Linux'
        run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x ./llvm.sh
          sudo ./llvm.sh 21

      # This also starts up our "fake" display Xvfb, needed for pluginval
      - name: Install Deps (Linux)
        if: runner.os == 'Linux'
        # Thanks to McMartin & co https://forum.juce.com/t/list-of-juce-dependencies-under-linux/15121/44
        run: |
          sudo apt-get update && sudo apt install libasound2-dev libx11-dev libxinerama-dev libxext-dev libfreetype-dev libfontconfig1-dev libwebkit2gtk-4.1-dev libglu1-mesa-dev xvfb ninja-build
          sudo /usr/bin/Xvfb $DISPLAY &

      - name: Checkout code
        uses: actions/checkout@v6
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Import Certificates (macOS)
        uses: apple-actions/import-codesign-certs@v6 # only exists as a tag right now
        if: ${{ (runner.os == 'macOS') && (env.p12-file-base64 != '')}}
        with:
          p12-file-base64: ${{ secrets.DEV_ID_APP_CERT }}
          p12-password: ${{ secrets.DEV_ID_APP_PASSWORD }}
        env:
          p12-file-base64: ${{ secrets.DEV_ID_APP_CERT }}

      - name: Configure and Build (Linux & macOS)
        if: runner.os != 'Windows'
        shell: bash
        run: |
          cmake -B ${{ env.BUILD_DIR }} -G Ninja -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE}} ${{ matrix.cmake_extra_flags }} .
          cmake --build ${{ env.BUILD_DIR }} --config ${{ env.BUILD_TYPE }}

      - name: Configure and Build (Windows)
        if: runner.os == 'Windows'
        shell: cmd
        run: |
          call ${{ matrix.vcvars64_path }}
          cmake -B ${{ env.BUILD_DIR }} -G Ninja -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE}} ${{ matrix.cmake_extra_flags }} .
          cmake --build ${{ env.BUILD_DIR }} --config ${{ env.BUILD_TYPE }}

      - name: Test
        working-directory: ${{ env.BUILD_DIR }}
        run: ctest --output-on-failure -j4 -VV

      - name: Read in .env from CMake # see GitHubENV.cmake
        shell: bash
        run: |
          cat .env # show us the config
          cat .env >> $GITHUB_ENV # pull in our PRODUCT_NAME, etc

      - name: Set additional env vars for next steps
        shell: bash
        run: |
          echo "ARTIFACT_NAME=${{ env.PRODUCT_NAME }}-${{ env.VERSION }}-${{ matrix.name }}" >> $GITHUB_ENV

      - name: Pluginval setup
        shell: bash
        run: |
          curl -LO "https://github.com/Tracktion/pluginval/releases/download/v1.0.3/pluginval_${{ runner.os }}.zip"
          7z x pluginval_${{ runner.os }}.zip
          echo "PLUGINVAL_DISABLED=Plugin state restoration" >> $GITHUB_ENV

      - name: Setup Pluginval random seed
        uses: josStorer/get-current-time@v2
        id: current-time
        with:
          format: YYYYMMDD

      - name: Pluginval VST3 validations
        if: ${{ runner.os != 'macOS' }}
        shell: bash
        run: |
          ${{ matrix.pluginval-binary }} --verbose --validate "${{ env.VST3_PATH }}" --disabled-tests "${{ env.PLUGINVAL_DISABLED }}"
        env:
          STRICTNESS_LEVEL: 10
          TIMEOUT_MS: 1440000
          REPEAT: 2
          RANDOM_SEED: "${{ steps.current-time.outputs.formattedTime }}"

      - name: Pluginval AU validations (macOS)
        if: ${{ runner.os == 'macOS' }}
        shell: bash
        run: |
          sudo cp -r "${{ env.AU_PATH }}" "/Library/Audio/Plug-ins/components"
          sudo killall -9 AudioComponentRegistrar
          ${{ matrix.pluginval-binary }} --verbose --validate "/Library/Audio/Plug-ins/components/${{ env.PRODUCT_NAME }}.component" --disabled-tests "${{ env.PLUGINVAL_DISABLED }}"
        env:
          STRICTNESS_LEVEL: 10
          TIMEOUT_MS: 1440000
          REPEAT: 2
          RANDOM_SEED: "${{ steps.current-time.outputs.formattedTime }}"

      - name: Codesign and Create Individual Packages (macOS)
        if: ${{ runner.os == 'macOS' }}
        run: |
          python3 -u packaging/packager_macOS.py
        env:
          DEVELOPER_ID_APPLICATION: ${{ secrets.DEVELOPER_ID_APPLICATION }}

      - name: Sign Final Package (macOS)
        if: ${{ (runner.os == 'macOS') && (env.APPLE_INSTALLER_DEV != '') }}
        run: productsign --sign "${{ secrets.APPLE_INSTALLER_DEV }}" "${{ env.ARTIFACT_NAME }}_unsigned.pkg" "${{ env.ARTIFACT_NAME }}.pkg"
        env:
          APPLE_INSTALLER_DEV: ${{ secrets.APPLE_INSTALLER_DEV }}

      - name: Rename Final Package (macOS)
        if: ${{ (runner.os == 'macOS') && (env.APPLE_INSTALLER_DEV == '') }}
        run: mv "${{ env.ARTIFACT_NAME }}_unsigned.pkg" "${{ env.ARTIFACT_NAME }}.pkg"
        env:
          APPLE_INSTALLER_DEV: ${{ secrets.APPLE_INSTALLER_DEV }}

      - name: Notarize and Staple PKG (macOS)
        if: ${{ (runner.os == 'macOS') && (env.NOTARIZATION_USERNAME != '')}}
        run: |
          xcrun notarytool submit "${{ env.ARTIFACT_NAME }}.pkg" --apple-id ${{ secrets.NOTARIZATION_USERNAME }} --password ${{ secrets.NOTARIZATION_PASSWORD }} --team-id ${{ secrets.TEAM_ID }} --wait
          xcrun stapler staple "${{ env.ARTIFACT_NAME }}.pkg"
        env:
          NOTARIZATION_USERNAME: ${{ secrets.NOTARIZATION_USERNAME }}

      - name: Create DMG (macOS)
        if: ${{ runner.os == 'macOS' }}
        run: |
          mkdir "${{ env.ARTIFACTS_PATH }}/dmgtmp"
          mv "${{ env.ARTIFACT_NAME }}.pkg" "${{ env.ARTIFACTS_PATH }}/dmgtmp"
          hdiutil create "${{ env.ARTIFACTS_PATH }}/tmp.dmg" -ov -volname "${{ env.ARTIFACT_NAME }}" -fs HFS+ -srcfolder "${{ env.ARTIFACTS_PATH }}/dmgtmp"
          hdiutil convert "${{ env.ARTIFACTS_PATH }}/tmp.dmg" -format UDZO -o "${{ env.ARTIFACT_NAME }}.dmg"

      - name: Upload DMG (macOS)
        if: ${{ runner.os == 'macOS' }}
        uses: actions/upload-artifact@v6
        with:
          name: ${{ env.ARTIFACT_NAME }}.dmg
          path: "${{ env.ARTIFACT_NAME }}.dmg"

      - name: Install WiX v5 (Windows)
        if: ${{ runner.os == 'Windows' }}
        shell: bash
        run: dotnet tool install --global wix --version 5.0.2

      - name: Add the WiX UI Extension (Windows)
        if: ${{ runner.os == 'Windows' }}
        shell: bash
        run: wix extension add WixToolset.UI.wixext/5.0.2

      - name: Generate WiX (Windows)
        if: ${{ runner.os == 'Windows' }}
        shell: bash
        run: |
          python3 -u packaging/packager_Windows_WiX.py
          cat "packaging\installer.wxs"

      - name: Generate Installer (Windows)
        if: ${{ runner.os == 'Windows' }}
        shell: bash
        run: |
          wix build packaging/installer.wxs -ext WixToolset.UI.wixext -loc packaging/overrides.wxl -arch ${{ matrix.wix_arch }} -o "packaging/${{ env.ARTIFACT_NAME }}.msi"
          mv "packaging/${{ env.ARTIFACT_NAME }}.msi" "${{ env.ARTIFACTS_PATH }}/"

      - name: Upload MSI (Windows)
        if: ${{ runner.os == 'Windows' }}
        uses: actions/upload-artifact@v6
        with:
          name: ${{ env.ARTIFACT_NAME }}.msi
          path: "${{ env.ARTIFACTS_PATH }}/${{ env.ARTIFACT_NAME }}.msi"

      - name: Generate Zip (Linux)
        if: ${{ runner.os == 'Linux' }}
        working-directory: ${{ env.ARTIFACTS_PATH }}
        run: 7z a -tzip "${{ env.ARTIFACT_NAME }}.zip" "-xr!lib${{ env.PRODUCT_NAME }}_SharedCode.a" .

      - name: Upload Zip (Linux)
        if: ${{ runner.os == 'Linux' }}
        uses: actions/upload-artifact@v6
        with:
          name: ${{ env.ARTIFACT_NAME }}.zip
          path: "${{ env.ARTIFACTS_PATH }}/${{ env.ARTIFACT_NAME }}.zip"
